body{
    background-color: #212529;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.unauthorised{
    position: absolute;
    top: -10000px;
    left: -10000px;
}